body, p {
    font-family: 'Questrial', sans-serif;
}

h3 {
    font-family: 'Marcellus', serif;;
    font-size: 1.5rem;
    line-height: 1rem;
}

h2 {
    font-family: 'Marcellus', serif;;
    font-size: 1.7rem;
}

h1 {
    font-family: 'Marcellus', serif;;
    font-size: 3rem;
}

/* nav */

nav {
    background-color: #3D5A6C;
}

nav li a {
    transition: color 0.3s ease-in-out;
}

nav li a:hover {
    color: #FFC53A;
}

.brand-logo {
    font-family: 'Marcellus', serif;
}

.current-credits, .credits-button {
    font-family: 'Questrial', sans-serif;
    border: 1px solid #FFC53A;
    width: 8rem;
    border-radius: 2rem;
    color: black;
    background-color: #FFC53A;
    padding: 0.6rem;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.2);
}

.credits-button:hover {
    border: 1px solid #ffd980;
    background-color: #ffd980;
    color:black;
}

.add-button {
    color: white;
    position: fixed;
    top: 86%;
    right: 8%;
    width: 3.5rem; 
    height: 3.5rem;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    transition: all 0.35s ease-in-out;
    background-color: #3D5A6C;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
}

.add-button i {
    font-size: 1.7rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.add-button:hover {
    background-color: #7a94a3;
    color: white;
}

/* survey list */ 

.survey-subtitle {
    color: rgb(170, 159, 159);
}

.surveylist-wrapper {
    margin: 2rem 7rem;
}

.survey-card {
    clear: both;
    margin: 4rem 0rem;
}

.survey-card {
    border: 1px solid black;
}

.survey-card-content {
    margin-top: 1rem;
    float: left;
    width: 60%;
}

.survey-card-content p {
    line-height: 0.8rem;
}

.survey-card-results {
    text-align: center;
    float: right;
    width: 40%;
}

.survey-card-results p {
    float: right;
    margin-right: 4rem;
}

.chart-wrapper {
    padding: 1rem;
}

.results-title {
    padding: 0.2rem;
    margin-right: 0.5rem;
    display: inline-block;
    width: 5rem;
    background-color: #FFC53A;
    color: black;
    border-radius: 2rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
}


/* survey form */ 

label {
    font-size: 0.9rem;
}

form {
    margin: 4rem 3rem 0rem 3rem;
}

.confirm-btn, .cancel-btn {
    padding: 0.2rem;
    font-family: 'Questrial', sans-serif;
    background-color: white;
    text-align: center;
    float: right;
    width: 9rem; 
    border: 1.8px solid black;
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
}

.cancel-btn { 
    float: left; 
    color: black;
}

.confirm-btn i, .cancel-btn i {
    padding-left: 0.4rem;
    top: 11%;
    transform: translateY(11%);
    -ms-transform: translateY(11%);
}

.cancel-btn:hover, .confirm-btn:hover {
    color: white;
    background-color: black;
}

/* survey form review */

.title-preview {
    font-size: 1.8rem;
}

.email-field {
    width: 40rem;
    padding: 0.5rem;
    margin-top: 2rem;
    border: 1.8px solid black;
}

.email-field-body {
    width: 40rem;
    height: 15rem;
    text-align: center;
    padding: 0.5rem;
    margin: 2rem 0rem;
    border: 1.8px solid black;
}

.landing-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}

.landing-title { 
    align-self: center;
}

.examples {
    padding: 2rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.example-card {
    margin: 1rem;
    padding: 1rem;
    width: 18%;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
}

.example-card p { margin: 3px; }
.example-card i { margin-right: 0.8rem; }